{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Subdomain Scanner</title>
</head>
<body>
    <nav class="header">
        <div class="credit">
            Amos Ehiguese
        </div>
        <div class="header-center">
            <div class="about">
                <a href="https://www.linkedin.com/in/amos-ehiguese-201b33100" target="_blank">About Me</a>
            </div>
            <div class="source-code">
                <a href="https://github.com/amosehiguese/subdomain-scanner" target="_blank">Source Code</a> 
            </div>
        </div>
    </nav>

{{ end }}