<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Subdomain Scanner</title>
</head>
<body>
    <body>
        <nav class="header">
            <div class="credit">
                Amos Ehiguese
            </div>
            <div class="header-center">
                <div class="about">
                    <a href="https://www.linkedin.com/in/amos-ehiguese-201b33100" target="_blank">About Me</a>
                </div>
                <div class="source-code">
                    <a href="https://github.com/amosehiguese/subdomain-scanner" target="_blank">Source Code</a> 
                </div>
            </div>
        </nav>
    
        <div id="intro-content">
          <h2 id="welcome-text">Subdomain scanner by Amos Ehiguese</h2>
          <div id="input-container">
            <input id="query-input" placeholder="Enter a domain to scan">
            <button id="scan-button">Scan</button>
          </div>
        </div>
    
        <div id="main-content">
            <div id="results-section">
                <!--Our Js code renders the HTML representing results here-->
            </div>
            <span id="text-span">
                <div id="crusty-message">
                    <p>Subdomain Scanner</p>
                    <p>Enter a domain to start.</p>
                    <p>Happy hacking!</p>
                </div>
            </span>
        </div>
    
    <script src="/static/app.js"></script>
</body>
</html>